.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.remove-btn {
    cursor: pointer;
    color: #C70039;
    font-weight: bold;
}
.remove-btn:hover {
    opacity: 0.7;
}
