@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}

.site-header {
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 16px 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  /* kích hoạt flexbox, căn trục chính & trục phụ*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  /* biến các <li> thành các flex items */
  display: flex;
  list-style-type: none; /* bỏ dấu chấm của ul */
  margin: 0;
  padding: 0;
  gap: 64px;
}

.navbar-menu a {
  font-size: 16px;
  color: #555;
  font-weight: 500;
  text-decoration: none;
}

.navbar-logo a {
  font-size: 24px;
  font-weight: 700;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* bắt đầu hệ thống lưới */
/* 1. container */
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  /* thêm padding để nội dung không dính sát viền */
  padding-left: 15px;
  padding-right: 15px;
}

/* 2. row */
.row {
  /* negative margin: các cột .col- có padding 15px (tạo gutter) -> negative margin -15px sẽ .row ra ngoài, làm cho cột đầu tiên và cột cuối cùng thẳng hàng với .container */
  margin-left: -15px;
  margin-right: -15px;
}

/* clearfix */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* 3. columns */
/* style chung cho tất cả các cột */
[class*=col-] {
  float: left;
  padding-left: 15px; /* gutter 15px mỗi bên */
  padding-right: 15px;
  /* tất cả các cột đều là border-box (đã set global) -> padding 15px sẽ nằm bên trong width đã định nghĩa */
}

/* chiều rộng từng cột */
.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/* kết thúc hệ thống lưới */
.hero-section {
  /* negative space (contrast) */
  padding: 64px 120px;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.hero-title {
  /* size & weight (contrast) tạo cảm giác heavy đối với tiêu đề lớn */
  font-size: 64px;
  font-weight: 700;
  color: #111;
  /* line height hẹp hơn đối với tiêu đề lớn */
  line-height: 1.2;
  /* proximity (gestalt) -> cụm title và subtitle gần nhau */
  margin-bottom: 16px;
}

.hero-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #555; /* giảm tương phản với h1 */
  line-height: 1.6; /* line height cao cho đoạn văn để dễ đọc */
  /* proximity (gestalt) -> cụm titlte & subtitle xa button */
  margin-bottom: 32px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.value-section {
  padding: 64px 120px;
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
}

.value-section h2 {
  text-align: center;
}

.article-body {
  margin: 64px auto;
  padding: 0 16px;
  max-width: 65ch; /* độ dài dòng lý tưởng */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;
}

.article-body h2 {
  color: #222;
  margin-bottom: 16px;
  text-align: center;
}

.article-body p {
  color: #555;
  line-height: 1.8;
  padding-bottom: 8px;
  text-align: center;
}

.cta-button {
  display: inline-block;
  background-color: #ff5733;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 24px;
}
.cta-button:hover {
  background-color: #ff2d00;
  transform: scale(1.05);
}
.cta-button:active {
  background-color: #1a1a1a;
}

.btn {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ff5733;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 16px;
  border: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.btn:hover {
  background-color: #ff2d00;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card {
  border: 0.5 px solid #ccc;
  padding: 24px;
  background-color: white;
  height: 100%;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.card-section {
  display: flex;
}

.card p {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */