.calculator{
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    max-width: 200px;
    padding: 16px;
    background-color: rgb(217, 183, 255);
    border-radius: 8px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px; 
}
