@use '../../utilities/variables' as vars;
@use '../../utilities/functions' as fn;

// Tính giá trị trước, ở scope file
$bg-color: vars.$color-text-primary;
$text-color: fn.color-text-contrast($bg-color);

.cta-button {
    display: inline-block;
    font-size: vars.$font-size-base;
    font-weight: vars.$font-weight-bold;
    text-decoration: none;
    padding: 12px 24px;

    &--inverse {
        $bg-color:$color-text-primary;
        $text-color: fn.color-text-contrast($bg-color);
        
        background-color: $bg-color;
        color: $text-color;

        &:hover {
            background-color: lighten($bg-color, 10%);
            transform: scale(1.05);
        }

        &:active {
            background-color: vars.$color-text-primary;
        }
    }


}