@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter',sans-serif;
    background-color: #f9f9f9;
}
.hero-section{
    /* negative space (contrast) */
    padding:64px 120px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #eee;
}
.hero-title{
    /* size & weight (contrast) tạo cảm giác heavy đối với tiêu đề lớn */
    font-size: 64px;
    font-weight: 700;
    color: #111;
    /* line height hẹp hơn đối với tiêu đề lớn */
    line-height: 1.2;
    /* proximity (gestalt) -> cụm title và subtitle gần nhau */
    margin-bottom: 16px;
}
.hero-subtitle{
    font-size: 18px;
    font-weight: 400;
    color: #555; /* giảm tương phản với h1 */
    line-height: 1.6; /* line height cao cho đoạn văn để dễ đọc */
    /* proximity (gestalt) -> cụm titlte & subtitle xa button */
    margin-bottom: 32px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.hero-button{
    /* contrast */
    display: inline-block;
    background-color: #ff5733;
    color: white;

    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    padding: 12px 24px;
}
/* bắt đầu bài tập flexbox */
.site-header{
    background-color: white;
    border-bottom: 1px solid #eee;
    padding: 16px 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar{
    /* kích hoạt flexbox, căn trục chính & trục phụ*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    /* biến các <li> thành các flex items */
    display: flex;
    list-style-type: none; /* bỏ dấu chấm của ul */
    margin: 0;
    padding: 0;
    gap: 64px;
}
.navbar-menu a{
    font-size: 16px;
    color: #555;
    font-weight: 500;
    text-decoration: none;
}
.navbar-logo a{
    font-size: 24px;
    font-weight: 700;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.value-section{
    padding:64px 120px;
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}
.value-section h2{
    text-align: center;
}

.article-body{
    margin: 64px auto;
    padding: 0 16px;
    max-width: 65ch;    /* độ dài dòng lý tưởng */
}

.article-body h2{
    color: #222;
    margin-bottom: 16px;
    text-align: center;
}

.article-body p{
    color: #555;
    line-height: 1.8;
    padding-bottom: 8px;
    text-align: center;
}