@import '_variables';

body{
    background-color:$color-background-page;
    font-family:$font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color:$color-text-primary;
}

h1{
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    margin-bottom: $space-m;
}

.cta-button{
    background-color: $color-accent-cta;
    padding: $space-s $space-m;
    color: $color-white;
    transition: background-color 0.3s ease-in-out;
}

.cta-button.cta-button:hover{
    background-color: $color-hover-cta;
}