@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
}
@layer components {
  .bento-item {
    @apply font-playfair h-32 rounded-lg flex justify-center items-center text-white font-bold text-xl;
  }
}