@import "tailwindcss";
@theme {
/* font */
--font-noto: "Noto Serif Display", serif;
--font-montserrat: "Montserrat", sans-serif;
/* color */
--color-primary: #181818;
--color-accent: #D16868;
/* breakpoint */
--breakpoint-md: 768px;
--breakpoint-xl: 1280px;
/* spacing */
--spacing-desktop-hero: 480px;
}
@layer base {
    h1 {
        @apply text-[84px] xl:text-[102px] font-noto font-bold;
        @apply leading-[1.045];
        @apply tracking-normal;
    }
    h2 {
        @apply text-[38px] xl:text-[42px] font-noto font-bold;
        @apply leading-[1.2];
        @apply tracking-[0.02em];
    }
    h3 {
        @apply text-[32px] xl:text-[36px] font-noto font-bold;
        @apply leading-[1.2];
        @apply tracking-[-0.02em];
    }
    h4 {
        @apply text-[28px] xl:text-[36px] font-noto font-bold;
        @apply leading-[1.385];
        @apply tracking-[0.02em];
    }
    h5 {
        @apply text-[28px] font-noto font-bold;
        @apply leading-[1.2];
        @apply tracking-[0.02em];
    }
}
@layer components {
    .btn {
        @apply text-[16px] font-noto font-black leading-normal tracking-[0.05em];
        @apply text-white border border-white w-fit p-2 xl:py-3 px-12 items-center;
    }
    .wtf {
        @apply text-[15px] xl:text-[16px] font-montserrat font-semibold;
        @apply leading-normal;
        @apply tracking-[-0.02em];
    }
    .sub-header {
        @apply text-[17px] xl:text-[20px] font-noto font-medium;
        @apply leading-[1.385];
        @apply tracking-[0.02em];
        @apply text-white;
    }
    .p2 {
        @apply text-[16px] xl:text-[18px] font-montserrat font-normal;
        @apply leading-normal;
        @apply tracking-[-0.02em];
    }
    .p1 {
        @apply text-[22px] xl:text-[24px] font-montserrat font-normal;
        @apply leading-[1.4];
        @apply tracking-[-0.02em];
    }
    .p3 {
        @apply text-[12.6px] xl:text-[14px] font-montserrat font-semibold;
        @apply leading-normal;
        @apply tracking-[-0.02em];
    }
    .p4 {
        @apply text-[12px] font-montserrat font-normal;
        @apply leading-normal;
        @apply tracking-[-0.02em];
    }
}