@import "tailwindcss";
@theme {
/* font */
--font-noto-serif-display: "Noto Serif Display", serif;
--font-montserrat: "Montserrat", sans-serif;
/* color */
--color-primary: #181818;
--color-accent: #D16868;
/* breakpoint */
--breakpoint-md: 800px;
--breakpoint-xl: 1280px;
/* spacing */
--spacing-desktop-hero: 480px;
}
@layer base {
    h1 {
        @apply text-[84px] xl:text-[102px] font-noto-serif-display font-bold;
        @apply leading-[1.045]
        @apply tracking-normal;
    }
    h2 {
        @apply text-[38px] xl:text-[42px] font-noto-serif-display font-bold;
        @apply leading-[1.2]
        @apply tracking-[0.02em];
    }
    h3 {
        @apply text-[32px] xl:text-[36px] font-noto-serif-display font-bold;
        @apply leading-[1.2]
        @apply tracking-[-0.02em];
    }
    h4 {
        @apply text-[28px] xl:text-[36px] font-noto-serif-display font-bold;
        @apply leading-[1.385]
        @apply tracking-[0.02em];
    }
    h5 {
        @apply text-[28px] font-noto-serif-display font-bold;
        @apply leading-[1.2]
        @apply tracking-[0.02em];
    }
}
@layer components {
    .wtf {
        @apply text-[12px] xl:text-[16px] font-montserrat font-semibold;
        @apply leading-normal;
        @apply tracking-[-0.02em];
    }
    .subheader {
        @apply text-[17px] xl:text-[20px] font-noto-serif-display font-medium;
        @apply leading-[1.385]
        @apply tracking-[0.02em];
    }
    .p2 {
        @apply text-[16px] xl:text-[18px] font-montserrat font-normal;
        @apply leading-normal
        @apply tracking-[-0.02em];
    }
    .p1 {
        @apply text-[22px] xl:text-[24px] font-montserrat font-normal;
        @apply leading-[1.4];
        @apply tracking-[-0.02em];
    }
    .p3 {
        @apply text-[12.6px] xl:text-[14px] font-montserrat font-semibold;
        @apply leading-normal;
        @apply tracking-[-0.02em];
    }
    .p4 {
        @apply text-[12px] font-montserrat font-normal;
        @apply leading-normal;
        @apply tracking-[-0.02em];
    }
}