/* Reset và áp dụng border box toàn cục */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 50px;
    background-color: #f0f0f0;
    font-family: sans-serif;
}
.box{
    width: 300px;
    height: 150px;
    padding: 50px;
    border: 10px solid #ff5733;
    margin-bottom: 20px;
    color: white;
}
.box1{
    box-sizing: content-box; /* ghi đè reset để làm ví dụ */
    background-color: #c70039;
}
.box2{
    /* đã kế thừa border-box từ global reset */
    background-color: #581845;
}