*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}

.btn {
  padding: 8px 16px;
  font-family: "Inter", sans-serif;
}

.card {
  border: 0.5 solid #ccc;
  padding: 24px;
  background-color: rgb(255, 192, 192);
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 32px;
}

.card h1 {
  font-size: 32px;
}