@import "tailwindcss";
@theme {
  /* font */
  --font-anek-tamil: "Anek Tamil", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", sans-serif;
  --font-instrument-sans: "Instrument Sans", sans-serif;
  /* color */
  --color-primary: #808CFD;
  --color-secondary: #E9ECFF;
  /* breakpoint */
  --breakpoint-md: 800px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1280px;
  /* spacing */
    /* hero */
  --spacing-desktop-hero: 480px;
  --spacing-tablet-hero: 300px;
  --spacing-mobile-hero: 225px;
    /* guided by */
  --spacing-mobile-guided-by: 479px;
    /* potential */
  --spacing-tablet-potential: 470px;
  --spacing-desktop-potential: 600px;  
}
@layer base {
  h1 {
    @apply text-[37px] md:text-[71px] xl:text-[116px] font-anek-tamil font-extrabold;
    @apply leading-[0.8] md:leading-[1.1];
    @apply tracking-[-0.05em];
  }
  h2 {
    @apply text-[28px] md:text-[36px] xl:text-[45px] font-anek-tamil font-bold;
    @apply leading-[0.91];
    @apply tracking-[-0.03em];
  }
  h3 {
    @apply text-[44px] md:text-[57px] font-anek-tamil font-bold;
    @apply leading-normal;
    @apply tracking-[-0.05em];
  }
  h4 {
    @apply text-[22px] md:text-[25px] font-anek-tamil font-bold;
    @apply leading-[0.91];
    @apply tracking-[-0.03em];
  }
  h5 {
    @apply text-[22px] md:text-[25px] font-anek-tamil font-bold;
    @apply leading-[0.91];
    @apply tracking-[-0.03em];
  }
}
@layer components {
  .p2 {
    @apply text-[15px] xl:text-[17px] font-geist font-normal leading-[1.31] tracking-[0.01em];
  }
  .p3{
    @apply text-[14px] font-geist font-bold leading-[1.31] tracking-[0.01em];
  }
  .link-nav {
    @apply text-[15px] font-geist-mono font-normal leading-[1.1] tracking-[-0.01em] cursor-pointer;
    @apply hover:opacity-60 focus:text-primary transition-colors;
  }
  .link-button {
    @apply text-[15px] font-geist-mono font-normal leading-[1.1] tracking-[-0.01em] cursor-pointer;
  }
  .link-nav-mobile {
    @apply text-[30px] font-geist-mono font-normal text-black leading-[1.1] tracking-[-0.01em];
    @apply p-5 border-b border-black;
  }
  .btn-A{
    @apply py-3 px-4.25 bg-white;
  }
  .btn-cta{
    @apply px-4.25 py-3 bg-primary text-black rounded-[7.25px] hover:bg-black hover:text-white;
  }
  .text-card{
    @apply flex flex-col p-5 gap-1.5;
  }
  .logo{
    @apply font-instrument-sans font-bold text-[20px] leading-[1.1] tracking-[-0.05em];
  }
  .footer-bottom-card{
    @apply flex flex-col gap-3.75;
  }
}